/*Arquivo CSS*/	

/*seletor de tag*/
body {
	background-color: #000;
	color: #fff;
	font-family:Arial, Verdana;
	font-size:14px;
	text-align:justify;
}

section {
	width:90%;
	margin:auto;
}

header {
	width:100%;
	height:150px;
	background:#191970;
}

nav {
	width:100%;
	height:50px;
	background:#4169E1;
}

aside {
	width:30%;
	height:440px;
	background:#87CEEB;
	float:left;
}

main {
	width:70%;
	height:400px;
	background:#ADD8E6;
	float:right;
}

footer {
	width:70%;
	height:50%;
	background:#708090;
	float:right;
	margin-bottom:6px;
}

